body {
  margin: 0;
  font-family: "Byekan";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@layer base {
  @font-face {
    font-family: Byekan;
    src: url("assets/font/IRANSansWeb(FaNum)_Bold.424eca1112ae72643ee8.woff2");
  }
}
